.card {
  width: 100%;
  border-radius: 5%;
  text-align: center;
  padding: 8em 0;
  &-shown, &-hidden {
  background-color: $gray-lighter;
  color: $blue;
  }
  &-border {
    backround-color: none;
    border: 1px solid $gray-lighter;
  }
}
